<%= if @current_user do %>
  <li><span>Signed in as <%= @current_user.email %></span></li>
  <li><%= link "Log out", to: Routes.user_session_path(@conn, :delete), method: :delete %></li>
  <li><%= link "Account Settings", to: Routes.user_settings_path(@conn, :edit) %></li>
<% else %>
  <li><%= link "Create an account", to: Routes.user_registration_path(@conn, :new) %></li>
  <li><%= link "Log in", to: Routes.user_session_path(@conn, :new) %></li>
<% end %>
